<% provide(:title, 'Home') %>
<header class="intro">
    <div class="intro-body">
      <div class="padding">
        <div class="full col-sm-9">                    
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="panel panel-default"> 
                <div class="panel-body" id="google_sports_map">
                    <%= render 'shared/google_map' %>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1">
              <div class="col-sm-3 col-sm-offset-4"> 
                  <div class="panel panel-default panel-transparent"> 
                    <%= link_to 'Search sports event', '#search_game_modal', 'data-toggle' => 'modal', class: "btn btn-large btn-primary" %>
                  </div>
              </div>

              <div class="col-sm-2 col-sm-offset-3"> 
                  <div class="panel panel-default panel-transparent"> 
                    <% if signed_in? %>
                      <div class="panel-body">
                        <%= link_to 'Create sports event', '#new_game_modal', 'data-toggle' => 'modal', class: "btn btn-large btn-primary" %>
                      </div>
                    <% else %> 
                      <div class="panel-body">
                        <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>  
                      </div>
                    <% end %>
                  </div>
              </div>
            </div>  
          </div>
        </div>
      </div>

    </div>
</header>

<div class="modal fade" id="search_game_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Search sports event</h4>
      </div>
      <div class="modal-body">
        <%= render 'shared/display_game_map', modal: true %>
      </div>
    </div>
  </div>
</div>

<% if signed_in? %>
<div class="modal fade" id="new_game_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create new sports event</h4>
      </div>
      <div class="modal-body">
        <%= render 'shared/game_form', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>
