<% provide(:title, @user.name) %>
<header class="user_show_page_image">

  <div class="padding">
    <div class="full col-sm-9">
                      
      <!-- content -->                      
      <div class="row">
        
       <!-- main col left --> 
       <div class="col-sm-2">
          <div class="panel panel-default"> 
            <div class="panel-body">
               <h4>
                <%= gravatar_for @user %>
                <%= @user.name %>
              </h4>           
            </div>
          </div>

          <div class="panel panel-default"> 
            <div class="panel-heading"> 
              <h4> User Stats </h4>
            </div>
            <div class="panel-body">
              <section class="stats">
                <%= render 'shared/stats' %>
              </section>
              <%= render 'follow_form' if signed_in? %>
            </div>
          </div>
        </div>

        <div class="col-sm-7">   

          <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">My Games</a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">My Followers Games</a></li>
              <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Followers</a></li>
              <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Following</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <div class="panel panel-default"> 
                  <div class="panel-body">
                    <% if @user.games.any? %>
                      <% for @my_game in @my_games %>
                      <ol class="list-group">
                        <li class="list-group-item my_game" > 
                          <h4 class = "my_game_sport" ><%= @my_game.sport %> </h4> 
                          <h4 class = "my_game_address"> 
                          <%= @my_game.address %>  
                          <% if current_user?(@my_game.user) %>
                            <%= link_to "delete", @my_game, method: :delete,
                                             data: { confirm: "You sure?" } %>
                          <% end %>
                          </h4>
                        </li>
                      </ol>
                      <% end %>
                      <%= will_paginate @my_games %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="profile">
                <div class="panel panel-default"> 
                  <div class="panel-body">
                    <% if @user.going_games.any? %>
                      <% for @going_game in @going_games %>
                      <ol class="list-group">
                        <li class="list-group-item my_game" > 
                          <h4 class = "my_game_sport" ><%= @going_game.sport %> </h4>
                          <h4 class = "my_game_sport" >
                            <%= @going_game.address %> 
                            <% if current_user?(@going_game.user) %>
                              <%= link_to "delete", current_user.gamers.find_by(going_game_id: @going_game.id), method: :delete,
                                             data: { confirm: "You sure?" } %>
                            <% end %>
                          </h4>
                        </li>
                      </ol>
                      <% end %>
                      <%= will_paginate @going_games %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="messages">
                <div class="panel panel-default"> 
                  <div class="panel-body">
                    <% if @user.going_games.any? %>
                      <% for @going_game in @going_games %>
                      <ol class="list-group">
                        <li class="list-group-item my_game" > 
                          <%= render 'show_follow' %>
                        </li>
                      </ol>
                      <% end %>
                      <%= will_paginate @going_games %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="settings">...</div>
            </div>
          </div>
        </div>


        <div class="col-sm-3">

        </div> 

      </div>
     </div>
 </header>