
              <% modal ||= false %>
              <% remote = modal ? true : false %>
              <%= form_for(@new_game, remote: remote, html: {role: :form, 'data-model' => 'game', 'data-type' => 'json'}) do |f| %>
                <div class="form-group">
                  <%= f.label :address %>
                  <%= f.text_field :address, placeholder: "Newyork usa"%>
                </div>

                <div class="form-group">
                  <%= f.label :sport %>
                  <%= f.select :sport, options_for_select(["Cricket", "Football", "Volleyball", "Basketball"])%>    
                </div>

                <div class="form-group">
                  <%= f.label :description %>
                  <%= f.text_area :description,  placeholder: "Add a small description..."%>
                </div>

                <div class="date form-group" id='datetimepicker1'>
                  <%= f.label :game_time %>
                  <%= f.datetime_select :game_time, :order => [:month, :day, :year], :minute_step => 15 %>
                </div>

                <div class="form-group">
                 <%= f.submit "Create", class: "btn btn-large btn-primary" %>
                </div>

            <% end %>

            <script type="text/javascript">
                $(function () {
                  $('#datetimepicker1').datetimepicker();
                });
            </script>
